*{margin: 0;
padding: 0;
box-sizing: border-box;
}






:root{
    --primary:#18191F;
    --greenColor:#4CAF4F;
}
@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter_18pt-SemiBold.ttf);
}
.blackColor{
    color: var(--primary)!important;
}
.textgreen{
    color: var(--greenColor);

}
.textgreen:hover{
    color: var(--greenColor);
}
.bggreen{
    background-color: var(--greenColor);
}
.bggreen:hover{
    background-color: var(--greenColor);
}
.font{
    font-family: Inter;
}
.bg-hero{
    background-color: #F5F7FA;
}
.customGap{
    gap: 100px;
}
.customShadow{
    box-shadow: #ABBED133;
}

/* me work */
.tx{
   text-align: left;
}

.txs{
font-size: 35px !important;
}

.txp{
   font-size: 15px;
}

.bgfooter{
   background: #263238;

}


.color-white{
   color: white !important;
}


.box-s{
   width: 22% !important;
}

.bgemail{
   background: #FFFFFF;
 
}


.footergrey{
   background-color: #515b60 !important;
}

.footergrey::placeholder{
   color: white;
}

















@media screen and (max-width:576px) {
    .size{
        width: 50%;
    }
}